<section class="container">
  <article class="odd">
    <div class="first process">
      <%= render :partial => 'shared/process', :locals => {:type => :question, :email => 'vosechu@gmail.com', :body => %Q{Can we do away with "Showing x of y Products" on all views, this is not standard Drupal so it would take quite a bit of effort}} %>
      <%= render :partial => 'shared/process', :locals => {:type => :response, :level => 2, :email => 'jay@bluecollaragency.com', :body => "I don't think it would be a problem to do away with this, but I will need to confirm with the client."} %>
      <%= render :partial => 'shared/process', :locals => {:type => :response, :level => 1, :email => 'tom@bluecollaragency.com', :body => "Passing on to Scott for approval"} %>
      <%= render :partial => 'shared/process', :locals => {:type => :response, :level => 0, :email => 'scott@infocus.com', :body => nil } %>
    </div>
  </article>
</section>
<section class="container">
  <article class="even">
    <div class="process">
      <%= render :partial => 'shared/process', :locals => {:type => :question, :email => 'vosechu@gmail.com', :body => "On page 43 I can't find any mention of foo."} %>
      <%= render :partial => 'shared/process', :locals => {:type => :response, :level => 0, :email => 'barrett@metaltoad.com', :body => "Delete it."} %>
  </article>
</section>